<section class="hp-posts-section">
  <div class="row g-lg-8 g-4 mb-md-4">
    <div class="col-lg-3 col-sm-6">
      {% include "@components/post/post.twig" %}
    </div>
    <div class="col-lg-3 col-sm-6">
      {% include "@components/post/post.twig" %}
    </div>
    <a href="#" class="btn btn-desc">Všechny fotogalerie</a>
    <div class="col-lg-3 col-sm-6">
      {% include "@components/post/post.twig" %}
    </div>
    <div class="col-lg-3 col-sm-6">
      {% include "@components/post/post.twig" %}
    </div>
  </div>
  <div class="btns__row">
    <a href="#" class="btn">Všechny fotogalerie</a>
    <a href="#" class="btn">Další články</a>
  </div>
</section>
