.hp-posts-section {
  margin-bottom: 36px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 32px;
  }
  .h2 {
    text-transform: uppercase;
  }
  .btn {
    @include media-breakpoint-down(lg) {
      margin-left: auto;
    }
  }
}
