<section class="c-team-section pt-lg-10 pt-4 mb-10">
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col">
          <div class="header-section">
            <h1 class="h1 mb-4 text-uppercase text-primary">
              Tabulková soupiska
            </h1>
            <div class="header-section__box">
              <a
                class="header-section__link header-section__link--table"
                href="/hc_olomouc/build/05.0_team.html"
                >Soupiska</a
              >
              <form action="" class="w-auto d-flex header-section__form">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>2022/23</option>
                    <option value="tipsport">2020/21</option>
                    <option value="tipsport">2019/20</option>
                    <option value="tipsport">2018/19</option>
                    <option value="tipsport">2017/18</option>
                  </select>
                </label>
              </form>
            </div>
          </div>
          <h2 class="h3">Brankáři</h2>
          <div class="o-content mb-10">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>jméno</th>
                  <th>narozen</th>
                  <th>věk</th>
                  <th>výška</th>
                  <th>váha</th>
                  <th>hůl</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">XGašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <a href="#">AGašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <a href="#">ddGašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="h3">Obránci</h2>
          <div class="o-content mb-10">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>jméno</th>
                  <th>narozen</th>
                  <th>věk</th>
                  <th>výška</th>
                  <th>váha</th>
                  <th>hůl</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>222</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>111</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="h3">Útočníci</h2>
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>jméno</th>
                  <th>narozen</th>
                  <th>věk</th>
                  <th>výška</th>
                  <th>váha</th>
                  <th>hůl</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
                <tr>
                  <td>33</td>
                  <td>
                    <a href="#">Gašper Krošelj</a>
                  </td>
                  <td>9.2.1987</td>
                  <td>31 let</td>
                  <td>189 cm</td>
                  <td>89 kg</td>
                  <td>L</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {% include "@components/aside/aside-team.twig" %}
    </div>
  </div>
</section>
