<section class="c-player-section">
  <div class="topstory">
    <div class="topstory__image on">
      <img
        src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div class="topstory__bcg"></div>
    <div class="c-player__inner">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-xl-3">
            <div class="c-player__img">
              <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
            </div>
          </div>
          <div class="col-xl-5 col-lg-7">
            <div class="row align-items-center mb-lg-8">
              <div class="col-lg-3 col-auto">
                <div class="c-player__number">77</div>
              </div>
              <div class="col-lg-9 col-auto">
                <h1 class="h1">
                  <span>Branislav</span>
                  Konrád
                </h1>
              </div>
            </div>
            <p>
              Branislav Konrád je slovenský brankář se reprezentačními starty a
              odchovanec nitranského hokeje, kde poprvé okusil extraligu v
              sezóně 2005/06. Dres Olomouce obléká od sezóny 2018/19.
            </p>
          </div>
          <div class="col-xl-4 col-lg-5">
            <ul class="c-player__list">
              <li>
                <span>Datum narození</span>
                26. 2. 1994 (28 let)
              </li>
              <li>
                <span>Výška</span>
                194 cm
              </li>
              <li>
                <span>Váha</span>
                88 kg
              </li>
              <li>
                <span>Držení hole</span>
                levé
              </li>
              <li>
                <span>Národnost</span>
                slovenská
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col mt-10">
          <div class="o-content">
            <p>
              Po poměrně vyrovnané první třetině svítil na ukazateli skóre stav
              0:1. Pár vteřin před úvodní sirénou se z přesilové hry prosadil
              Erik Thorell. „Dívali jsme se před zápasem, jak přesilovky hrají,
              ale nepokryli jsme si to. Byl to kopanec dostat gól deset sekund
              před koncem třetiny. Kdybychom to udrželi, tak by se to asi
              vyvíjelo jinak, ale to se po utkání snadno říká,“ načal své
              pozápasové hodnocení olomoucký obránce.
            </p>
            <p>
              Hned zkraje druhé části se prosadil hostující Filip Chlapík, avšak
              záhy Jan Káňa po přesné přihrávce Davida Krejčího snížil. Další
              úder však přišel z hole Michala Řepíka. Znovu Sparta skórovala v
              přesilovce. „Na oslabení pracujeme, máme tam i detailnější
              rozbory, ale... Těžko říct, co s tím udělat. Asi se musíme vrátit
              k základním věcem. Je třeba začít padat po hubě a žrát puky.
              Jedině tak to snad zlomíme,“ věří Dujsík.
            </p>
            <q>
              <h4>
                Jednou věcí je, že Sparta byla lepší, tou druhou, že jsme
                neplnili základy.
              </h4>
              <span>Tomáš Dujsík, obránce HC Olomouc</span>
            </q>
            <p>
              Útočník Chlapík svým druhým gólem v utkání zvýšil na 4:1. Po druhé
              přestávce se ještě trefili Sobotka s Řepíkem. Kohouti tak domácí
              duel ztratili o pět branek. „Určitě to neprobíhalo podle našich
              představ. Jednou věcí je, že Sparta byla lepší, tou druhou, že
              jsme neplnili základy. Dělali jsme fauly a z přesilovek jsme
              dostávali góly. Nebyl to dobrý zápas. Chtěli jsme navázat na
              minulé utkání s Boleslaví, ale stal se přesný opak,“ smutnil.
            </p>
            <p>
              „Není příjemné prohrávat. Play-off chceme hrát, ale takhle to
              nejde. Doufal jsem, že to po Boleslavi nakopneme, poněvadž tam to
              bylo hodně složité, jenže proti Spartě bylo vše špatně. Věřím
              však, že se oklepeme a v Plzni nějaké body urveme,“ doplnil
              devětadvacetiletý rodák z Brna. Následně vyzdvihl fanoušky: „Musím
              jim poděkovat za to, že s námi zůstali až do konce.“
            </p>
            <p>
              Tomáš Dujsík v letošní sezóně zatím zasáhl do 34 střetnutí.
              Zbývající vynechal kvůli zranění. Jak se nyní cítí po zdravotní
              stránce? „Už je to v pohodě. Bylo to zranění, které se hůře
              hojilo. Teď už jsem zdravý, přestože to předtím bylo těžké. Snad
              to takhle bude až do konce sezóny.“
            </p>
            <p>
              Svěřenci Zdeňka Motáka a Jana Tomajka se po úterním zápase v Plzni
              budou muset vypořádat s absencemi brankáře Branislava Konráda a
              útočníka Davida Krejčího. Oba budou reprezentovat své země na
              pekingské Olympiádě, která startuje už za pár dnů. „Je to velká
              komplikace, protože oni jsou našimi rozdílovými hráči. Bude to o
              poctivosti a bojovnosti, která nás vždy tady v Olomouci zdobila.
              Snad dny bez nich nějak přežijeme a nějaké body získáme,“ uzavřel
              Dujsík.
            </p>
          </div>
          {% include "@components/photogallery/photogallery.twig" %}
        </div>
      </div>

      {% include "@components/aside/aside-players.twig" %}
    </div>
  </div>
</section>
