<section class="hp-tabs-section">
  <div class="hp-tabs__header--respons">
    <div class="container">
      <ul class="hp-tabs__header row g-6">
        <li class="active col-auto">
          <a href="#"> mládež </a>
        </li>
        <li class="col-auto">
          <a href="#"> Junioři </a>
        </li>
        <li class="col-auto">
          <a href="#"> Dorost </a>
        </li>
        <li class="col-auto">
          <div class="o-content">
            <select class="js-select">
              <option value="">Třídy</option>
              <option value="">Třída 1</option>
              <option value="">Třída 2</option>
              <option value="">Třída 3</option>
            </select>
          </div>
        </li>
        <li class="col-auto">
          <a href="#"> Přípravka </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tabs-wrapper">
    <div class="hp-tabs__menu">
      <div class="container">
        <ul class="hp-tabs__menu-list tabs">
          <li>
            <a href="#" class="tab" data-id="1">Soupiska</a>
          </li>
          <li>
            <a href="#" class="tab active" data-id="2">Zápasy</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="3">Realizační tým</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="4">Tabulka</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="5">Statistiky</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hp-tabs__content--bg">
      <div class="container">
        <div class="tab-content" id="1">
          <div class="c-team-section">
            <div class="o-content">
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>jméno</th>
                    <th>narozen</th>
                    <th>věk</th>
                    <th>výška</th>
                    <th>váha</th>
                    <th>hůl</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>
                      <a href="#">Gašper Krošelj</a>
                    </td>
                    <td>9.2.1987</td>
                    <td>31 let</td>
                    <td>189 cm</td>
                    <td>89 kg</td>
                    <td>L</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content tab-active" id="2">
          <div class="row g-8 mb-md-4">
            <div class="col-xl-3 col-sm-6">
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                </div>
              </div>
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                  <div class="c-matchboard__result win">8:2</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>

            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
          </div>
          <div class="btns__row">
            <a href="#" class="btn">Všechny zápasy</a>
            <a href="#" class="btn">Všechny články</a>
          </div>
        </div>
        <div class="tab-content" id="3">
          3
          <div class="row g-8 mb-md-4">
            <div class="col-xl-3 col-sm-6">
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                </div>
              </div>
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                  <div class="c-matchboard__result win">8:2</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>

            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
          </div>
          <div class="btns__row">
            <a href="#" class="btn">Všechny zápasy</a>
            <a href="#" class="btn">Všechny články</a>
          </div>
        </div>
        <div class="tab-content" id="4">
          <div class="o-content mt-8">
            <table>
              <thead>
                <tr>
                  <th>P.</th>
                  <th>Tým</th>
                  <th>Z</th>
                  <th>V</th>
                  <th>R</th>
                  <th>P</th>
                  <th>B</th>
                  <th>Skóre</th>
                  <th>RG</th>
                  <th>+/-</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>FC Zbrojovka Brno Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr class="olo">
                  <td>2.</td>
                  <td>HC Olomouc</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>33.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>9.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC bbZbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC aaZbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-content" id="5">
          <div class="c-table-section">
            <div class="o-content mb-4">
              <table class="">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>obránci</th>
                    <th>P</th>
                    <th>Z</th>
                    <th>G</th>
                    <th>A</th>
                    <th>B</th>
                    <th>+/-</th>
                    <th>TM</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4.</td>
                    <td><a href="#">kkGašper Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td><a href="#">ddGašper Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>88.</td>
                    <td><a href="#">XXGašper Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>66.</td>
                    <td><a href="#">AAGašpaer Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>32.</td>
                    <td><a href="#">Gašper Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>32.</td>
                    <td><a href="#">Gašper Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>32.</td>
                    <td><a href="#">Gašper Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>32.</td>
                    <td><a href="#">Gašper Krošelj</a></td>
                    <td>32</td>
                    <td>755</td>
                    <td>20</td>
                    <td>32</td>
                    <td>26</td>
                    <td>32</td>
                    <td>26</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
