<section class="hp-tabs-section">
  <div class="hp-tabs__header--respons">
    <div class="container">
      <ul class="hp-tabs__header row g-6">
        <li class="active col-auto">
          <a href="#"> mládež </a>
        </li>
        <li class="col-auto">
          <a href="#"> Junioři </a>
        </li>
        <li class="col-auto">
          <a href="#"> Dorost </a>
        </li>
        <li class="col-auto">
          <div class="o-content">
            <select class="js-select">
              <option value="">Třídy</option>
              <option value="">Třída 1</option>
              <option value="">Třída 2</option>
              <option value="">Třída 3</option>
            </select>
          </div>
        </li>
        <li class="col-auto">
          <a href="#"> Přípravka </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tabs-wrapper">
    <div class="hp-tabs__menu">
      <div class="container">
        <ul class="hp-tabs__menu-list tabs">
          <li>
            <a href="#" class="tab active" data-id="1">Soupiska</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="2">Zápasy</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="3">Realizační tým</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="4">Tabulka</a>
          </li>
          <li>
            <a href="#" class="tab" data-id="5">Statistiky</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hp-tabs__content--bg">
      <div class="container">
        <div class="tab-content tab-active" id="1">
          <div class="row g-8 mb-md-4">
            <div class="col-xl-3 col-sm-6">
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                </div>
              </div>
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                  <div class="c-matchboard__result win">8:2</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>

            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
          </div>
          <div class="btns__row">
            <a href="#" class="btn">Všechny zápasy</a>
            <a href="#" class="btn">Všechny články</a>
          </div>
        </div>
        <div class="tab-content" id="2">
          2
          <div class="row g-8 mb-md-4">
            <div class="col-xl-3 col-sm-6">
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                </div>
              </div>
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                  <div class="c-matchboard__result win">8:2</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>

            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
          </div>
          <div class="btns__row">
            <a href="#" class="btn">Všechny zápasy</a>
            <a href="#" class="btn">Všechny články</a>
          </div>
        </div>
        <div class="tab-content" id="3">
          3
          <div class="row g-8 mb-md-4">
            <div class="col-xl-3 col-sm-6">
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                </div>
              </div>
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                  <div class="c-matchboard__result win">8:2</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>

            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
          </div>
          <div class="btns__row">
            <a href="#" class="btn">Všechny zápasy</a>
            <a href="#" class="btn">Všechny články</a>
          </div>
        </div>
        <div class="tab-content" id="4">
          4
          <div class="row g-8 mb-md-4">
            <div class="col-xl-3 col-sm-6">
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                </div>
              </div>
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                  <div class="c-matchboard__result win">8:2</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>

            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
          </div>
          <div class="btns__row">
            <a href="#" class="btn">Všechny zápasy</a>
            <a href="#" class="btn">Všechny články</a>
          </div>
        </div>
        <div class="tab-content" id="5">
          5
          <div class="row g-8 mb-md-4">
            <div class="col-xl-3 col-sm-6">
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                </div>
              </div>
              <div class="c-matchboard__item">
                <p class="p3 text-center mb-4">
                  12. kolo TELH / so 4. 9. 2021, 18:00
                </p>
                <div class="c-matchboard__logos">
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                  <div class="c-matchboard__logo">
                    <img
                      src="images/content/logo.png"
                      loading="lazy"
                      alt="logo"
                    />
                  </div>
                </div>
                <div class="c-matchboard__info">
                  <div class="c-matchboard__teams">
                    <h4 class="h6">HC Olomouc</h4>
                    <h4 class="h6">HC Dynamo Pardubice</h4>
                  </div>
                  <div class="c-matchboard__result win">8:2</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>

            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            <div class="col-xl-3 col-sm-6">
              {% include "@components/post/post-2.twig" %}
            </div>
          </div>
          <div class="btns__row">
            <a href="#" class="btn">Všechny zápasy</a>
            <a href="#" class="btn">Všechny články</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
