<section class="c-matchboard-section">
  <div class="c-matchboard-section__inner mb-md-4">
    <div class="row gx-0">
      <div class="col-md-6">
        <div class="row gx-0">
          <div class="col-xxl-6">
            <div class="c-matchboard__item">
              <p class="p3 text-center mb-4">
                12. kolo TELH / so 4. 9. 2021, 18:00
              </p>
              <div class="c-matchboard__logos">
                <div class="c-matchboard__logo">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="c-matchboard__logo">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
              </div>
              <div class="c-matchboard__info">
                <div class="c-matchboard__teams">
                  <h4 class="h6">HC Olomouc</h4>
                  <h4 class="h6">HC Dynamo Pardubice</h4>
                </div>
                <div class="c-matchboard__result win">8:2</div>
              </div>
              <ul class="c-matchboard__links">
                <li>
                  <a class="btn btn-secondary" href="#"> Reportáž </a>
                </li>
                <li>
                  <a class="btn btn-secondary" href="#"> Fotogalerie </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xxl-6">
            <div class="c-matchboard__item">
              <p class="p3 text-center mb-4">
                12. kolo TELH / so 4. 9. 2021, 18:00
              </p>
              <div class="c-matchboard__logos">
                <div class="c-matchboard__logo">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="c-matchboard__logo">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
              </div>
              <div class="c-matchboard__info">
                <div class="c-matchboard__teams">
                  <h4 class="h6">HC Olomouc</h4>
                  <h4 class="h6">HC Dynamo Pardubice</h4>
                </div>
                <div class="c-matchboard__result lose">4:6p</div>
              </div>
              <ul class="c-matchboard__links">
                <li>
                  <a class="btn btn-secondary" href="#"> Reportáž </a>
                </li>
              </ul>
            </div>
          </div>
          <a href="#" class="btn btn-desc">Všechny odehrané zápasy</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="c-matchboard__bigitem">
          <div class="c-matchboard__bigitem-wrap">
            <p class="p2 mb-4">
              <strong>13. kolo TELH / út 7. 9. 2021, 17:00</strong>
            </p>
            <div class="c-matchboard__logos">
              <div class="c-matchboard__logo">
                <img src="images/content/logo.png" loading="lazy" alt="logo" />
              </div>
              <div class="c-matchboard__logo">
                <img src="images/content/logo.png" loading="lazy" alt="logo" />
              </div>
            </div>
            <div class="c-matchboard__info">
              <div class="c-matchboard__teams">
                <h4 class="h4">HC Olomouc</h4>
                <h4 class="h4">HC Dynamo Pardubice</h4>
              </div>
            </div>
          </div>
          <div class="c-matchboard__calendar">
            {% include "@components/timer/timer.twig" %}
            <ul class="c-matchboard__links">
              <li>
                <a class="btn btn-primary" href="#"> Preview </a>
              </li>
              <li>
                <a class="btn btn-primary" href="#"> Preview </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btns__row">
    <a href="#" class="btn">Všechny odehrané zápasy</a>
    <a href="#" class="btn">Všechny nadcházející zápasy</a>
  </div>
</section>
