.c-matchboard {
  &__slider {
    position: relative;
    display: flex;
    height: 100%;

    .slick-list,
    .slick-track {
      height: 100%;
    }
    .slick-slide + .slick-slide {
      border-left: 1px solid #f4f5f6;
      height: 100%;
    }
    .slick-slide > div {
      height: 100%;
    }
  }
  &__btn {
    position: absolute;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
    background: transparent;
    width: 32px;
    height: 32px;
    @include media-breakpoint-down(md) {
      bottom: 16px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__btnnext {
    left: 51%;
  }
  &__btnprev {
    right: 51%;
  }
  &-section {
    margin-bottom: 40px;
  }
  &-section__inner {
    box-shadow: 0 0 10px 0 rgba(#000, 0.1);
  }
  &__calendar {
    margin-top: 52px;
    @include media-breakpoint-down(xxl) {
      margin-top: 0;
    }
  }
  &__bigitem {
    background-color: var(--color-light2);
    height: 100%;
    padding: 32px 24px 24px 40px;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(xxl) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    &-wrap {
      @include media-breakpoint-down(xxl) {
        width: 100%;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 32px;
      }
    }
    .c-matchboard__info {
      @include media-breakpoint-down(xxl) {
        margin: 0 auto;
        justify-content: center;
        text-align: left;
      }
      @include media-breakpoint-down(md) {
        text-align: center !important;
      }
    }
    .c-matchboard__logos {
      justify-content: flex-start;
      @include media-breakpoint-down(xxl) {
        justify-content: center;
      }
    }
  }

  &__item {
    background-color: var(--color-light);
    padding: 32px 40px;
    height: 100%;
  }
  &__item--gray {
    background-color: #f4f5f6;
  }
  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    li {
      margin-bottom: 8px;
      padding: 0 4px;
    }
    .btn {
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .h4,
    .h6 {
      text-transform: uppercase;
    }
  }
  &__result {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700;
    @include media-breakpoint-down(md) {
      margin-top: 24px;
    }
  }
  &__logos {
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
  }
  &__logo {
    width: 72px;
    height: 72px;
    padding: 0 4px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.lose {
  color: var(--color-primary);
}
.win {
  color: var(--color-green);
}
