<div id="countdown-wrapper" class="timer" data-datetime="2022-11-30T10:00:00">
  <span class="timer__item" id="timer-days">
    <span class="timer__label timer__label-days" id="countdown-days-label"
      >Dní</span
    >
    <span class="timer__value" id="countdown-days"></span>
  </span>
  <span class="timer__item" id="timer-hours">
    <span class="timer__label" id="countdown-hours-label">Hodin</span>
    <span class="timer__value" id="countdown-hours"></span>
  </span>
  <span class="timer__item" id="timer-minutes">
    <span class="timer__label" id="countdown-minutes-label">Minut</span>
    <span class="timer__value" id="countdown-minutes"></span>
  </span>
  <span class="timer__item">
    <span class="timer__label" id="countdown-seconds-label">Sekund</span>
    <span class="timer__value" id="countdown-seconds"></span>
  </span>
</div>
