<div class="bts-popup" role="alert">
  <div class="bts-popup-container">
    <div class="popup-content">
      <a href="#" class="popup-img">
        <img src="images/content/popup.jpeg" alt=""
      /></a>

      <!-- <div class="bts-popup-button">
      <a href="#0">Více</a>
    </div> -->
      <a href="#0" class="bts-popup-close img-replace">Close</a>
    </div>
  </div>
</div>
