<section class="c-team-section pt-lg-10 pt-4">
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col">
          <div class="header-section">
            <h1 class="h1 text-uppercase text-primary mb-4">Soupiska</h1>
            <div class="header-section__box">
              <a class="header-section__link" href="#">Tabulkový výpis</a>
              <form action="" class="w-auto d-flex header-section__form">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>2022/23</option>
                    <option value="tipsport">2020/21</option>
                    <option value="tipsport">2019/20</option>
                    <option value="tipsport">2018/19</option>
                    <option value="tipsport">2017/18</option>
                  </select>
                </label>
              </form>
            </div>
          </div>
          <h2 class="h4 text-uppercase text-primary mb-4">Brankáři</h2>
          <div class="c-team-section__inner">
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>4</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
          </div>
          <h2 class="h4 text-uppercase text-primary mb-4">Obránci</h2>
          <div class="c-team-section__inner">
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
          </div>
          <h2 class="h4 text-uppercase text-primary mb-4">Útočníci</h2>
          <div class="c-team-section__inner">
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
            <a href="#" class="c-team__item">
              <div class="c-team__img">
                <img src="images/content/hrac.jpeg" alt="" loading="lazy" />
                <span>99</span>
              </div>
              <div class="c-team__info">
                <h3 class="h6">Gašper KROŠELJ</h3>
                <ul>
                  <li>26. 2. 1994</li>
                  <li>35 let</li>
                  <li>189 cm</li>
                  <li>89 kg</li>
                  <li>L</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-team.twig" %}
    </div>
  </div>
</section>
