<aside class="aside col-xl-3 pt-8">
  <h2 class="h4 text-primary mb-4 pl-6">Další hráči</h2>
  <div class="aside-box mb-4">
    <div class="aside-players">
      <table>
        <tr>
          <td class="text-primary">29</td>
          <td style="font-weight: bold">
            <a href="#">Jan Šimek</a>
          </td>
          <td class="text-primary">obránce</td>
        </tr>
        <tr>
          <td class="text-primary">29</td>
          <td style="font-weight: bold">
            <a href="#">Jan Šimek</a>
          </td>
          <td class="text-primary">obránce</td>
        </tr>
        <tr>
          <td class="text-primary">29</td>
          <td style="font-weight: bold">
            <a href="#">Jan Šimek</a>
          </td>
          <td class="text-primary">obránce</td>
        </tr>
        <tr>
          <td class="text-primary">29</td>
          <td style="font-weight: bold">
            <a href="#">Jan Šimek</a>
          </td>
          <td class="text-primary">obránce</td>
        </tr>
        <tr>
          <td class="text-primary">29</td>
          <td style="font-weight: bold">
            <a href="#">Jan Šimek</a>
          </td>
          <td class="text-primary">obránce</td>
        </tr>
      </table>
    </div>
  </div>
  <a href="#" class="btn mb-8 ml-auto">cylý tým</a>
  <div class="row">
    <h2 class="h4 text-primary mb-4 pl-6">Články</h2>
    <div class="mb-4 col-xl-12 col-sm-6">
      {% include "@components/post/post.twig" %}
    </div>
    <div class="mb-4 col-xl-12 col-sm-6">
      {% include "@components/post/post.twig" %}
    </div>
  </div>
</aside>
