<aside class="aside col-xl-3">
  <h2 class="h4 text-primary mb-4 pl-6">Soutěže</h2>
  <div class="aside-box">
    <ul class="aside__menu">
      <li>
        <a href="#" title="" class="active">Tipsport extraliga </a>
      </li>
      <li><a href="#" title="">Přípravné zápasy</a></li>
    </ul>
  </div>
  <h2 class="h4 text-primary mb-4 pl-6">A-tým</h2>
  <div class="aside-box">
    <ul class="aside__menu">
      <li>
        <a href="#">Soupiska</a>
      </li>
      <li>
        <a href="#">Realizační tým</a>
      </li>
      <li>
        <a class="" href="#">Změny v kádru</a>
      </li>
      <li>
        <a href="#">Statistiky</a>
      </li>
      <li>
        <a class="active" href="#">Zápasy</a>
      </li>
    </ul>
  </div>
</aside>
