<aside class="aside col-xl-3">
  <h2 class="h4 text-primary mb-4 pl-6">Statistiky</h2>
  <div class="aside-box">
    <ul class="aside__menu">
      <li>
        <a href="#" title="" class="active">Tipsport extraliga 2021/2022 </a>
      </li>
      <li><a href="#" title="">Tipsport extraliga 2020/2021</a></li>
      <li>
        <a href="#" title=" ">Tipsport extraliga 2019/2020</a>
      </li>
      <li>
        <a href="#" title=" ">Tipsport extraliga 2018/2019</a>
      </li>
      <li>
        <a href="#" title=" ">Tipsport extraliga 2017/2018</a>
      </li>
      <li>
        <a href="#" title=" ">Tipsport extraliga 2016/2017</a>
      </li>
      <li>
        <a href="#" title="Tipsport extraliga 2015/2016"
          >Tipsport extraliga 2015/2016</a
        >
      </li>
      <li>
        <a href="#" title="Tipsport extraliga 2014/2015"
          >Tipsport extraliga 2014/2015</a
        >
      </li>
      <li>
        <a href="#" title="1. liga ČR 2013/2014">1. liga ČR 2013/2014</a>
      </li>
      <li>
        <a href="#" title="1. liga ČR 2012/2013">1. liga ČR 2012/2013</a>
      </li>
      <li>
        <a href="#" title="Tipsport extraliga 2011/2012"
          >Tipsport extraliga 2011/2012</a
        >
      </li>
      <li>
        <a href="#" title="Tipsport extraliga 2010/2011"
          >Tipsport extraliga 2010/2011</a
        >
      </li>
      <li>
        <a href="#" title="O2 Extraliga 2009/2010">O2 Extraliga 2009/2010</a>
      </li>
      <li>
        <a href="#" title="O2 Extraliga 2008/2009">O2 Extraliga 2008/2009</a>
      </li>
      <li>
        <a href="#" title="1. liga 2007/2008">1. liga 2007/2008</a>
      </li>
      <li>
        <a href="#" title="1. liga 2006/2007">1. liga 2006/2007</a>
      </li>
    </ul>
  </div>
  <h2 class="h4 text-primary mb-4 pl-6">A-tým</h2>
  <div class="aside-box">
    <ul class="aside__menu">
      <li>
        <a href="#">Soupiska</a>
      </li>
      <li>
        <a href="#">Realizační tým</a>
      </li>
      <li>
        <a class="active" href="#">Změny v kádru</a>
      </li>
      <li>
        <a href="#">Statistiky</a>
      </li>
    </ul>
  </div>
</aside>
