<aside class="aside col-xl-3">
  <h2 class="h4 text-primary mb-4 pl-6">A-tým</h2>
  <div class="aside-box">
    <ul class="aside__menu">
      <li>
        <a class="active" href="#">Soupiska</a>
      </li>
      <li>
        <a href="#">Realizační tým</a>
      </li>
      <li>
        <a href="#">Změny v kádru</a>
      </li>
      <li>
        <a href="#">Statistiky</a>
      </li>
    </ul>
  </div>
  <div class="mb-4">{% include "@components/post/post.twig" %}</div>
  <div class="mb-4">{% include "@components/post/post.twig" %}</div>
</aside>
