<section class="c-forum-section pt-lg-10 pt-4 mb-10">
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col">
          <div class="header-section">
            <h1 class="h1 text-uppercase text-primary mb-4">
              Registrační podmínky
            </h1>
          </div>
          <div class="o-content">
            <p>
              Smluvní ujednání upravující užívání služeb poskytovaných
              společností eSports.cz, s.r.o.
            </p>
            <p>
              Následující text je "smluvním ujednáním", jehož odsouhlasením se
              uživatel níže uvedených služeb (dále jen "Uživatel" či
              "Uživatelé") zavazuje dodržovat pravidla v něm stanovená (dále jen
              Smluvní ujednání). V případě porušení Smluvních ujednání
              kterýmkoli Uživatelem níže uvedených služeb může provozovatel níže
              uvedených služeb - obchodní společnost eSports.cz, s.r.o. (dále
              jen Provozovatel) uplatnit opatření obsažená v těchto Smluvních
              ujednáních.
            </p>
            <h3 class="mt-10">Pravidla užívání Služby</h3>
            <ol>
              <li>
                Služba slouží k diskutování jednotlivých Uživatelů, k
                zanechávání veřejných zpráv, k seznamování, atp. Služba dále
                slouží k vznášění dotazů na odpovědné osoby z řad provozovatelů
                internetových stránek a dalších subjektů, souvisejících se
                stránkami. Služba slouží také k účasti v internetových aukcích,
                soutěžích a odebírání emailových zpravodajů. Některá část Služby
                může mít svůj provoz upraven dalším smluvním ujednáním, které je
                nezávislé na tomto smluvním ujednáním.
              </li>
              <li>
                Uživatel smí Službu používat pouze k aktivitám, které jsou v
                souladu s platným právním řádem České Republiky a zejména nejsou
                v rozporu s Listinou základních práv a svobod. Provozovatel je
                oprávněn kdykoli zamezit kterémukoli Uživateli přístup do
                diskusních částí svých webů a odstranit kterékoli zprávy
                kteréhokoli Uživatele zanechané v rámci diskusního fóra či
                jiných částí Služby v případě, že porušuje toto Smluvní
                ujednání.
              </li>
              <li>
                Služba není určena ke zveřejňování nabídek komerční povahy, ke
                zveřejňování odkazů nijak nesouvisejících s tématem Služby a k
                využívání pro komerční účely jakýmkoli uživatelem.
              </li>
              <li>
                Každý, kdo zadává o sobě jakékoli údaje v rámci Služby, uděluje
                tímto výslovný souhlas dle § 5 zákona č. 101/2000 Sb., o ochraně
                osobních údajů, společnosti eSports.cz, s.r.o., která je
                zpracovatelem osobních údajů, k tomu, že tyto údaje budou
                využity pro účely propagace partnerů eSports.cz, s.r.o. Tento
                souhlas je udělen na dobu neurčitou a může být kdykoli odvolán,
                a to formou doporučeného dopisu adresovaného do sídla
                společnosti eSports.cz, s.r.o. Společnost eSports.cz, s.r.o. se
                tímto zavazuje po doručení odvolání souhlasu bezodkladně veškeré
                osobní údaje týkající se dané osoby ze Služby odstranit.
              </li>
              <li>
                Uživatel bere na vědomí, že zřízením uživatelského účtu v rámci
                Služby má právo využívat veškeré služby na webech eSports.cz,
                s.r.o. (diskusní fóra, chaty, otázky na vedení, soutěže, aukce,
                newslettery aj.).
              </li>
              <li>
                Provozovatel nenese odpovědnost za škody, které Uživateli
                vzniknou, pokud Uživatel nebude včas informován o případných
                jakýchkoliv změnách kterékoliv z výše zmíněných služeb pouze
                proto, že nevyužívá jedné z nich.
              </li>
              <li>
                Provozovatel nenese odpovědnost za jakékoli škody, které mohou
                Uživateli vzniknout využíváním nebo naopak nevyužíváním Služby,
                její funkčností či zastavením provozu. Uživatel využívá Služby
                na vlastní riziko a při využívání služby musí brát zřetel k
                rizikům, která takováto činnost v prostředí sítě Internet
                přináší.
              </li>
              <li>
                Provozovatel si vyhrazuje právo na změnu tohoto Smluvního
                ujednání, změnu užití kterékoliv z výše zmíněných služeb, a to i
                bez předchozího upozornění.
              </li>
              <li>
                Provozovatel si vyhrazuje možnost kdykoli poskytování Služby
                přerušit nebo zastavit.
              </li>
              <li>
                V případě některých částí služby může být Uživatel požádán o
                sdělení podrobných indentifikačních údajů pro autorizaci
                přístupu k části služby. Tyto údaje jsou využity pouze pro
                autorizaci a autentifikaci Uživatele a Uživatel je povinen je
                sdělit úplně a pravdivě. V případě sdělení neúplných či
                nesprávných údajů může být využití části nebo celé Služby
                Uživateli odepřeno.
              </li>
              <li>
                Provozovatel si vyhrazuje právo kdykoli pozastavit možnost
                využívání služby pro kteréhokoli Uživatele v případě, že
                Uživatel svým chováním poškozuje jiné Uživatele, chová se v
                rozporu s dobrými mravy nebo poškozuje zájmy Provozovatele či
                kteréhokoli jiného subjektu.
              </li>
              <li>
                Uživatel má možnost si pomocí zaslání premium rate SMS aktivovat
                tzv. "profi registraci". Po aktivaci "profi registrace" má
                Uživatel přístup k rozšířeným službám včetně možnosti odhlásit
                si zasílání reklamních sdělení partnerů Provozovatele. Profi
                registrace je vždy aktivována pro jedno uživatelské jméno a není
                možné ji deaktivovat. Platbu za aktivaci není možné žádat zpět.
                Provozovatel se zavazuje zaslat Uživateli na požádání daňový
                doklad v elektronické podobě za přijatou platbu.
              </li>
              <li>
                Tato pravidla vstupují v platnost 8. 11. 2009 a platí do
                odvolání.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <aside class="aside col-xl-3">
        <div class="mb-4">
          <a
            class="post"
            href="/article/7408-Juniori-budou-hrat-nejvyssi-soutez-take-v-pristi-sezone"
          >
            <div class="post__img">
              <img
                src="/image?file=https://hc-olomouc.cz/foto/jun_olomouc_-_mlada_boleslav_/DSC_0349.JPG&w=660&h=530&exact=1&topcut=0&format=jpg"
                loading="lazy"
                alt=""
              />
            </div>
            <div class="post__info">
              <h4 class="h4">
                Junioři budou hrát nejvyšší soutěž také v příští sezóně
              </h4>
              <span class="text-primary">19. 4. 2023</span>
            </div>
          </a>
        </div>
        <div class="mb-4">
          <a
            class="post"
            href="/article/7407-Pokracuji-v-Olomouci-Jakub-Orsava-a-David-Skurek"
          >
            <div class="post__img">
              <img
                src="/image?file=https://hc-olomouc.cz/foto/skůrekorsava.jpg&w=660&h=530&exact=1&topcut=0&format=jpg"
                loading="lazy"
                alt=""
              />
            </div>
            <div class="post__info">
              <h4 class="h4">
                Pokračují v Olomouci: Jakub Orsava a David Škůrek
              </h4>
              <span class="text-primary">18. 4. 2023</span>
            </div>
          </a>
        </div>
      </aside>
    </div>
  </div>
</section>

<script async src="/dist/js/forum.js"></script>

<div class="pub pub--bottom">
  <div class="container">
    <div class="row gx-lg-8 gy-4 g-4">
      <div class="col-xl-3 col-md-6">
        <a href="http://www.olomouc.eu/" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/7.jpg?1682082036"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="http://www.kr-olomoucky.cz/" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/1.gif?1663789083"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="http://https://www.selm-morava.cz/" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/182.png?1663789081"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="https://www.galeriesantovka.cz" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/189.png?1663789093"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="https://www.rsre.cz" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/200.png?1682082297"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="https://www.mora.cz" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/198.png?1682082049"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="http://www.insta.cz/" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/14.png?1674733160"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="http://tecam.cz/" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/134.png?1674733158"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="www.vhs-ol.cz" target="_blank">
          <img
            src="https://hc-olomouc.cz/ads/db_partners/logos/23.jpg?1674733146"
            loading="lazy"
            width="316"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
