<section class="c-match-section">
  <div class="topstory">
    <div class="topstory__image on">
      <img
        src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div class="topstory__bcg"></div>
    <div class="topstory__content">
      <div class="h-100 container container--no-padding">
        <div class="row h-100">
          <div class="col-12 col-lg-7 col-xl-8">
            <div class="h-100 row align-items-end">
              <div class="col-12">
                <div id="topstory_content_1" class="topstory_content on">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    Generálka před extraligou! Na Hanou zavítá Hradec Králové
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="bt-section mt-section pt-0">
          <div class="c-match-section__game">
            <div class="c-match-section__club">
              <h2 class="h4">HC Sparta Praha</h2>
              <img src="images/content/logo.png" loading="lazy" alt="logo" />
            </div>
            <div class="c-match-section__game-info">
              <h3 class="h2 win">2:3p</h3>
              <p class="p3">(0:0, 0:2, 2:0 – 0:1)</p>
            </div>
            <div class="c-match-section__club">
              <img src="images/content/logo.png" loading="lazy" alt="logo" />
              <h2 class="h4">HC Olomouc</h2>
            </div>
          </div>
          <div class="p-line">
            <div class="c-match-section__info">
              <ul class="p2 c-match-section__date">
                <li>14. kolo TELH, neděle 23. 10. 2022 – 18:00</li>
                <li>Zimní stadion Olomouc</li>
                <li>Rozhodčí: Obadal, Stano – Gebauer, Axman</li>
              </ul>
              <div class="c-match-section__result">
                <div class="c-match-section__result-col">
                  <ul>
                    <li>38. Gulaš (Pech, Dzierkals)</li>
                  </ul>
                </div>
                <div class="c-match-section__result-icon">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="c-match-section__result-col">
                  <ul>
                    <li>51. Škůrek (Nahodil, Rašner)</li>
                    <li>64. Ondrušek (Klimek)</li>
                  </ul>
                </div>
              </div>
              <ul class="c-match-section__statistics">
                <li>
                  <h4 class="h3">
                    <span>vyloučení</span>
                    8:9
                  </h4>
                </li>
                <li>
                  <h4 class="h3">
                    <span> Využití</span>
                    1:1
                  </h4>
                </li>
                <li>
                  <h4 class="h3">
                    <span> V oslabení</span>
                    0:0
                  </h4>
                </li>
                <li>
                  <h4 class="h3">
                    <span> Střely na branku</span>
                    27:34
                  </h4>
                </li>
                <li>
                  <h4 class="h3">
                    <span> Střely zblokované </span>
                    11:26
                  </h4>
                </li>
                <li>
                  <h4 class="h3">
                    <span> Hity</span>
                    4:3
                  </h4>
                </li>
                <li>
                  <h4 class="h3">
                    <span>Vhazování</span>
                    28:31
                  </h4>
                </li>
              </ul>
              <div class="row gy-10">
                <div class="col-lg-6">
                  <div class="c-match-section__members">
                    <div class="c-match-section__members-team">
                      <div class="c-match-section__members-img">
                        <img
                          src="images/content/logo.png"
                          loading="lazy"
                          alt="logo"
                        />
                      </div>
                      <span>HC Sparta Praha</span>
                    </div>

                    <p class="p1">
                      Lukáš (Maláč) – Dujsík, Ondrušek (C), Škůrek, Švrček, T.
                      Černý, Řezníček, Rutar – Orsava (A), Kusko, J. Káňa (A) –
                      Navrátil, Nahodil, Klimek – Bambula, Menšík, Kunc –
                      Kucsera, Anděl, Olesz.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div
                    class="c-match-section__members c-match-section__members--olo"
                  >
                    <div class="c-match-section__members-team">
                      <div class="c-match-section__members-img">
                        <img
                          src="images/content/logo.png"
                          loading="lazy"
                          alt="logo"
                        />
                      </div>
                      <span>HC Olomouc</span>
                    </div>

                    <p class="p1">
                      Lukáš (Maláč) – Dujsík, Ondrušek (C), Škůrek, Švrček, T.
                      Černý, Řezníček, Rutar – Orsava (A), Kusko, J. Káňa (A) –
                      Navrátil, Nahodil, Klimek – Bambula, Menšík, Kunc –
                      Kucsera, Anděl, Olesz.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-col">
            <div class="c-article-section__header">
              <div class="author">Daniel Fekets</div>
              <div class="c-article-section__social">
                SDÍLET ČLÁNEK
                <ul>
                  <li>
                    <a href="#"> {% include "@images/facebook.svg" %} </a>
                  </li>
                  <li>
                    <a href="#"> {% include "@images/twitter.svg" %} </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="perex">
              O L O M O U C - Po sérii pěti venkovních zápasů v řadě se kohouti
              znovu představili v domácím prostředí. Na duel 47. kola se Spartou
              ale nebudou vzpomínat v dobrém, poněvadž pražskému celku podlehli
              1:6. „Není to příjemné. Play-off chceme hrát, ale takhle to prostě
              nejde,“ kroutil hlavou po utkání TOMÁŠ DUJSÍK.
            </div>
            <div class="o-content">
              <p>
                Po poměrně vyrovnané první třetině svítil na ukazateli skóre
                stav 0:1. Pár vteřin před úvodní sirénou se z přesilové hry
                prosadil Erik Thorell. „Dívali jsme se před zápasem, jak
                přesilovky hrají, ale nepokryli jsme si to. Byl to kopanec
                dostat gól deset sekund před koncem třetiny. Kdybychom to
                udrželi, tak by se to asi vyvíjelo jinak, ale to se po utkání
                snadno říká,“ načal své pozápasové hodnocení olomoucký obránce.
              </p>
              <p>
                Hned zkraje druhé části se prosadil hostující Filip Chlapík,
                avšak záhy Jan Káňa po přesné přihrávce Davida Krejčího snížil.
                Další úder však přišel z hole Michala Řepíka. Znovu Sparta
                skórovala v přesilovce. „Na oslabení pracujeme, máme tam i
                detailnější rozbory, ale... Těžko říct, co s tím udělat. Asi se
                musíme vrátit k základním věcem. Je třeba začít padat po hubě a
                žrát puky. Jedině tak to snad zlomíme,“ věří Dujsík.
              </p>
              <q>
                <h4>
                  Jednou věcí je, že Sparta byla lepší, tou druhou, že jsme
                  neplnili základy.
                </h4>
                <span>Tomáš Dujsík, obránce HC Olomouc</span>
              </q>
              <p>
                Útočník Chlapík svým druhým gólem v utkání zvýšil na 4:1. Po
                druhé přestávce se ještě trefili Sobotka s Řepíkem. Kohouti tak
                domácí duel ztratili o pět branek. „Určitě to neprobíhalo podle
                našich představ. Jednou věcí je, že Sparta byla lepší, tou
                druhou, že jsme neplnili základy. Dělali jsme fauly a z
                přesilovek jsme dostávali góly. Nebyl to dobrý zápas. Chtěli
                jsme navázat na minulé utkání s Boleslaví, ale stal se přesný
                opak,“ smutnil.
              </p>
              <p>
                „Není příjemné prohrávat. Play-off chceme hrát, ale takhle to
                nejde. Doufal jsem, že to po Boleslavi nakopneme, poněvadž tam
                to bylo hodně složité, jenže proti Spartě bylo vše špatně. Věřím
                však, že se oklepeme a v Plzni nějaké body urveme,“ doplnil
                devětadvacetiletý rodák z Brna. Následně vyzdvihl fanoušky:
                „Musím jim poděkovat za to, že s námi zůstali až do konce.“
              </p>
              <p>
                Tomáš Dujsík v letošní sezóně zatím zasáhl do 34 střetnutí.
                Zbývající vynechal kvůli zranění. Jak se nyní cítí po zdravotní
                stránce? „Už je to v pohodě. Bylo to zranění, které se hůře
                hojilo. Teď už jsem zdravý, přestože to předtím bylo těžké. Snad
                to takhle bude až do konce sezóny.“
              </p>
              <p>
                Svěřenci Zdeňka Motáka a Jana Tomajka se po úterním zápase v
                Plzni budou muset vypořádat s absencemi brankáře Branislava
                Konráda a útočníka Davida Krejčího. Oba budou reprezentovat své
                země na pekingské Olympiádě, která startuje už za pár dnů. „Je
                to velká komplikace, protože oni jsou našimi rozdílovými hráči.
                Bude to o poctivosti a bojovnosti, která nás vždy tady v
                Olomouci zdobila. Snad dny bez nich nějak přežijeme a nějaké
                body získáme,“ uzavřel Dujsík.
              </p>
            </div>
            {% include "@components/photogallery/photogallery.twig" %}
          </div>
        </div>
      </div>

      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
