.tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
}
.tag--primary {
  color: var(--color-light);
  background-color: var(--color-primary);
}
