<section class="hp-board-section mb-lg-4">
  <div class="row g-8">
    <div class="col-xl-4 col-lg-8 col-md-10 mx-auto">
      <h5 class="h4 mb-4 text-uppercase text-primary">Tabulka extraligy</h5>
      <div class="hp-board-section__table">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th class="team">Tým</th>
              <th>Z</th>
              <th>V</th>
              <th>VP</th>
              <th>PP</th>
              <th>P</th>
              <th>Skóre</th>
              <th>B</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>99.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr class="olo">
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>

            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
            <tr>
              <td>1.</td>
              <td class="team">
                <a href="#">
                  <img
                    src="images/content/logo.png"
                    loading="lazy"
                    alt="logo"
                  />
                  OLO
                </a>
              </td>
              <td>12</td>
              <td>8</td>
              <td>2</td>
              <td>1</td>
              <td>1</td>
              <td>32:18</td>
              <td>29</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto">
      <h5 class="h4 mb-4 text-uppercase text-primary">
        Kohouti na sociálních sítích
      </h5>
      <div class="hp-board__social">
        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            Takto vypadá sestava na poslední přípravný zápas před novou sezonou
            s Mountfield HK. 🍀💪 Přijďte Hanáky povzbudit od 17:00 přímo do
            plecharény. 🐔🐓 #VšeciSpolu #donovesezony #olomhk
          </p>
        </a>
        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1664017075&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/9trida_benatky.jpg"
              alt=""
            />
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            Po první třetině jsou o krok napřed hosté, které poslal do vedení
            Aleš Jergl. #VšeciSpolu #olomhk
          </p>
        </a>
        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1664017075&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/9trida_benatky.jpg"
              alt=""
            />
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            https://www.sportovniaukce.cz/homepage/auction/3301Na webu SPORTOVNÍ
            AUKCE právě probíhá…
          </p>
        </a>
        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1664017075&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/9trida_benatky.jpg"
              alt=""
            />
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            Po první třetině jsou o krok napřed hosté, které poslal do vedení
            Aleš Jergl. #VšeciSpolu #olomhk
          </p>
        </a>
        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            Takto vypadá sestava na poslední přípravný zápas před novou sezonou
            s Mountfield HK. 🍀💪 Přijďte Hanáky povzbudit od 17:00 přímo do
            plecharény. 🐔🐓 #VšeciSpolu #donovesezony #olomhk
          </p>
        </a>
        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1664017075&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/9trida_benatky.jpg"
              alt=""
            />
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            Po první třetině jsou o krok napřed hosté, které poslal do vedení
            Aleš Jergl. #VšeciSpolu #olomhk
          </p>
        </a>

        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            Takto vypadá sestava na poslední přípravný zápas před novou sezonou
            s Mountfield HK. 🍀💪 Přijďte Hanáky povzbudit od 17:00 přímo do
            plecharény. 🐔🐓 #VšeciSpolu #donovesezony #olomhk
          </p>
        </a>

        <a href="#" class="hp-board__social-item">
          <div class="hp-board__social-img">
            <img
              src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1664017075&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/9trida_benatky.jpg"
              alt=""
            />
            <span> {% include "@images/facebook.svg" %} </span>
          </div>
          <p class="p3">
            Po první třetině jsou o krok napřed hosté, které poslal do vedení
            Aleš Jergl. #VšeciSpolu #olomhk
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
