table {
  border-collapse: collapse;
  width: 100%;
}
.olo {
  td {
    background-color: var(--color-primary);
    color: var(--color-light);
  }
}
td {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark);
 
}
