main {
  background-color: var(--color-light2);
  position: relative;
  z-index: 4;
  padding-top: 130px;
  @include media-breakpoint-only(xl) {
    padding-top: 118px;
  }
  @include media-breakpoint-only(lg) {
    padding-top: 118px;
  }
  @include media-breakpoint-only(md) {
    padding-top: 118px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 78px;
  }
}
