<div class="pub">
  <div class="row g-lg-8 g-4 align-items-center">
    <div class="col-md-6">
      <a href="#">
        <img src="images/content/235.png" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-md-6">
      <a href="#">
        <img src="images/content/236.png" loading="lazy" alt="" />
      </a>
    </div>
  </div>
</div>
