<div class="pub">
  <div class="row g-lg-8 g-4">
    <div class="col-md-6">
      <a href="#">
        <img src="https://via.placeholder.com/640x150" loading="lazy" alt="" />
      </a>
    </div>
    <div class="col-md-6">
      <a href="#">
        <img src="https://via.placeholder.com/640x150" loading="lazy" alt="" />
      </a>
    </div>
  </div>
</div>
