<div class="pub-width">
  <div class="row">
    <div class="col-12">
      <a href="#">
        <img src="https://via.placeholder.com/1300x320" loading="lazy" alt="" />
      </a>
    </div>
  </div>
</div>
