.pub {
  margin-bottom: 32px;
  a {
    aspect-ratio: 640/150;
    display: block;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
  &--bottom {
    margin-bottom: 0;
    padding-bottom: 64px;
    a {
      aspect-ratio: 316/112;
    }
  }
}
.pub-width {
  a {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    display: block;
  }
}
