<div class="pub pub--bottom">
  <div class="container">
    <div class="row gx-lg-8 gy-4 g-4">
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <img
            src="https://via.placeholder.com/316x112"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <img
            src="https://via.placeholder.com/316x112"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <img
            src="https://via.placeholder.com/316x112"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a href="#">
          <img
            src="https://via.placeholder.com/316x112"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <a href="#">
          <img src="https://via.placeholder.com/200x70" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <a href="#">
          <img src="https://via.placeholder.com/200x70" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <a href="#">
          <img src="https://via.placeholder.com/200x70" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <a href="#">
          <img src="https://via.placeholder.com/200x70" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <a href="#">
          <img src="https://via.placeholder.com/200x70" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-xl-2 col-md-4 col-6">
        <a href="#">
          <img src="https://via.placeholder.com/200x70" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
