<div class="photogallery">
  <h3 class="h4 text-primary mb-4">FOTOGALERIE</h3>
  <div class="row g-4">
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-3 col-6">
      <a
        class="photogallery__item"
        href="#"
        data-gallery="1"
        data-gallery-id="1"
      >
        <img
          src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
          loading="lazy"
          alt=""
        />
        <span>+16</span>
      </a>
    </div>
  </div>
</div>
