<section class="matches-section pt-lg-10 pt-4 mb-10">
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col">
          <div class="header-section">
            <h1 class="h1 text-uppercase text-primary mb-4">
              Tipsport extraliga 2022/2023
            </h1>

            <div class="header-section__box">
              <form action="" class="w-auto d-flex header-section__form">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>2022/23</option>
                    <option value="tipsport">2020/21</option>
                    <option value="tipsport">2019/20</option>
                    <option value="tipsport">2018/19</option>
                    <option value="tipsport">2017/18</option>
                  </select>
                </label>
              </form>
            </div>
            <ul class="aside__menu d-lg-none">
              <li>
                <a href="#" title="" class="active">Tipsport extraliga </a>
              </li>
              <li><a href="#" title="">Přípravné zápasy</a></li>
            </ul>
          </div>
          <ul class="matches-section__filter">
            <li>
              <a class="active" href="#">Vše</a>
            </li>
            <li>
              <a href="#">pouze doma</a>
            </li>
            <li>
              <a href="#">pouze venku</a>
            </li>
          </ul>
          <div class="matches-section__inner">
            <div class="matches-section__box d-flex">
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Motor České Budějovice</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__links">
                      <a href="#" class="match__partner">
                        <img
                          src="images/content/198.png"
                          loading="lazy"
                          alt="logo"
                        />
                      </a>
                      <a href="#" target="_blank" class="btn btn-primary">
                        Vstupenky
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Olomouc</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__result win">2:3</div>
                    <div class="match__links">
                      <a href="#" target="_blank" class="btn btn-secondary">
                        Reportáž
                      </a>
                      <a href="#" target="_blank" class="btn btn-secondary">
                        On-line
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Olomouc</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__links">
                      <a href="#" class="match__partner">
                        <img
                          src="images/content/logo.png"
                          loading="lazy"
                          alt="logo"
                        />
                      </a>
                      <a href="#" target="_blank" class="btn btn-primary">
                        Vstupenky
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Olomouc</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__result">3:3</div>
                    <div class="match__links">
                      <a href="#" target="_blank" class="btn btn-secondary">
                        Reportáž
                      </a>
                      <a href="#" target="_blank" class="btn btn-secondary">
                        On-line
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Motor České Budějovice</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__result">3:3</div>
                    <div class="match__links">
                      <a href="#" target="_blank" class="btn btn-secondary">
                        Reportáž
                      </a>
                      <a href="#" target="_blank" class="btn btn-secondary">
                        On-line
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Olomouc</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__result win">2:3</div>
                    <div class="match__links">
                      <a href="#" target="_blank" class="btn btn-secondary">
                        Reportáž
                      </a>
                      <a href="#" target="_blank" class="btn btn-secondary">
                        On-line
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Olomouc</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__result lose">4:3</div>
                    <div class="match__links">
                      <a href="#" target="_blank" class="btn btn-secondary">
                        Reportáž
                      </a>
                      <a href="#" target="_blank" class="btn btn-secondary">
                        On-line
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-12 col-12">
                <div class="match d-flex align-items-center">
                  <div class="match__date">
                    <p class="p3">1. kolo</p>
                    <p class="p3">
                      <strong>so 24. 7. 2021, 18:00</strong>
                    </p>
                  </div>
                  <div class="match__logos">
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                    <div class="match__logo">
                      <img
                        src="images/content/logo.png"
                        loading="lazy"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="match__team">
                    <h3 class="h3">HC Olomouc</h3>
                    <h3 class="h3">HC Olomouc</h3>
                  </div>
                  <div class="match__info">
                    <div class="match__result">3:3</div>
                    <div class="match__links">
                      <a href="#" target="_blank" class="btn btn-secondary">
                        Reportáž
                      </a>
                      <a href="#" target="_blank" class="btn btn-secondary">
                        On-line
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-matches.twig" %}
    </div>
  </div>
</section>
