<footer class="footer">
  <a class="footer__logo" href="">
    <img src="images/content/logo.png" loading="lazy" alt="logo" />
  </a>
  <div class="container">
    <div class="footer__inner">
      <p class="p2">
        <strong>
          Copyright © 2010-2021 HC OLOMOUC, s.r.o. &
          <a href="https://esportsmedia.cz/">eSports.cz, s.r.o</a>
        </strong>
      </p>
      <ul class="footer__links">
         <li>
            <a href="#">Informace o autorských právech </a>
         </li>
         |  
         <li>
            <a href="#">RSS</a>
         </li>
         | 
         <li>
            <a href="#">Kontakt</a>
         </li>
               
      </ul>
    </div>
  </div>
</footer>
