<a class="post" href="#">
  <div class="post__img">
    <img
      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
      alt=""
    />
  </div>
  <div class="post__info">
    <h4 class="h4">Všude dobře, doma nejlépe, pronesl útočník David Krejčí</h4>
    <span class="">2. 9. 2021</span>
  </div>
</a>
