{% extends "@components/base/base.twig" %} {% set title = "15.0_leadership" %}
{% block main %}
<section class="c-team-section pt-lg-10 pt-4">
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col">
          <div class="header-section">
            <h1 class="h1 text-uppercase text-primary mb-4">VEDENÍ KLUBU</h1>
          </div>
          <h2 class="h3 text-uppercase text-primary mb-6">
            HC OLOMOUC, S. R. O.
          </h2>
          <div class="c-leadership-section">
            <div class="c-team__item">
              <div class="c-team__img">
                <img
                  src="https://hc-olomouc.cz/foto/realizacni_tym_20222023/jantomajko.jpg"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="c-team__info">
                <h3 class="h5 mb-1 text-uppercase">Jan Tomajko</h3>
                <h4 class="h4 text-primary">Sekretář</h4>
                <p>Vstupenky, permanentky</p>
              </div>
            </div>
            <div class="c-team__item">
              <div class="c-team__img">
                <img
                  src="https://hc-olomouc.cz/foto/vedeni_20222023/ErikFürst.jpg"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="c-team__info">
                <h3 class="h5 mb-1 text-uppercase">Erik Fürst</h3>
                <h4 class="h4 text-primary">Press manažer</h4>
              </div>
            </div>
            <div class="c-team__item">
              <div class="c-team__img">
                <img
                  src="https://hc-olomouc.cz/foto/vedeni_2018/p_stankova.jpg"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="c-team__info">
                <h3 class="h5 mb-1 text-uppercase">Pavlína Staňková</h3>
                <h4 class="h4 text-primary">Sportovní manažer</h4>
                <a href="maito:hco@hc-olomouc.cz">hco@hc-olomouc.cz</a>
                <p>
                  <strong>Telefon:</strong>
                  602 732 834
                </p>
              </div>
            </div>
            <div class="c-team__item">
              <div class="c-team__img">
                <img
                  src="https://hc-olomouc.cz/foto/vedeni_2018/t_schmiedt.jpg"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="c-team__info">
                <h3 class="h5 mb-1 text-uppercase">Tomáš Schmiedt</h3>
                <h4 class="h4 text-primary">Vedoucí provozu</h4>
                <a href="tomas.schmiedt@hc-olomouc.cz"
                  >tomas.schmiedt@hc-olomouc.cz</a
                >
                <p>
                  <strong>Telefon:</strong>
                  770 188 368
                </p>
              </div>
            </div>
            <div class="c-team__item">
              <div class="c-team__img">
                <img
                  src="https://hc-olomouc.cz/foto/realizacni_tym_20222023/JosefPodlaha.jpg"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="c-team__info">
                <h3 class="h5 mb-1 text-uppercase">Josef Podlaha st.</h3>
                <a href="mailto:hco@hc-olomouc.cz">hco@hc-olomouc.cz</a>
                <p><strong>Telefon:</strong> 724 565 766</p>
              </div>
            </div>
            <div class="c-team__item">
              <div class="c-team__img">
                <img
                  src="https://hc-olomouc.cz/foto/vedeni_2018/m_ministr.jpg"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="c-team__info">
                <h3 class="h5 mb-1 text-uppercase">Milan Ministr</h3>
                <a href="mailto:hco@hc-olomouc.cz">hco@hc-olomouc.cz</a>
                <p><strong>Telefon:</strong> 773 688 998</p>
              </div>
            </div>
          </div>
          <h2 class="h3 text-uppercase text-primary mb-6">
            Marketingový manažer
          </h2>
          <div class="c-leadership-section">
            <div class="c-team__item">
              <div class="c-team__img">
                <img
                  src="https://hc-olomouc.cz/foto/vedeni_20222023/SimonVejtasa.jpg"
                  alt=""
                  loading="lazy"
                />
              </div>
              <div class="c-team__info">
                <h3 class="h5 mb-1 text-uppercase">Simon Vejtasa</h3>

                <a href="mailto:simon.vejtasa@hc-olomouc.cz"
                  >simon.vejtasa@hc-olomouc.cz</a
                >
                <p>
                  <strong>Telefon:</strong>
                  733 191 379
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-team.twig" %}
    </div>
  </div>
</section>
{% include "@components/pubs/pubs-bottom.twig" %} {% endblock %}
