{% extends "@components/base/base.twig" %} {% set title =
"19.0_registration-editor" %} {% block main %}

<section class="c-forum-section pt-lg-10 pt-4 mb-10">
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col">
          <div class="header-section">
            <h1 class="h1 text-uppercase text-primary mb-4">Přihlášení</h1>
          </div>
          <div class="o-content mb-10">
            <p>
              Pro úpravu registrace se musíte nejprve přihlásit. Zadejte Vaše
              uživatelské jméno a heslo, které jste zadali při registraci.
            </p>
          </div>
          <form
            action="/inc/ajax-forum-signin.php"
            method="post"
            class="c-forum__box"
          >
            <div class="row">
              <div class="col-lg-6">
                <label for="username">
                  Uživatelské jméno*
                  <input type="text" name="username" id="username" required />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="password">
                  Heslo*
                  <input
                    type="password"
                    name="password"
                    id="password"
                    required
                  />
                </label>
              </div>
            </div>

            <button type="submit" class="tag tag--primary">
              <strong>Přihlásit</strong>
            </button>
          </form>

          <hr />

          <ul class="c-forum__links">
            <li><a class="text-primary" href="/forum">Zpět na fórum</a></li>
          </ul>
        </div>
      </div>
      <aside class="aside col-xl-3 pt-8">
        <div class="row">
          <div class="mb-4 col-xl-12 col-sm-6">
            {% include "@components/post/post.twig" %}
          </div>
          <div class="mb-4 col-xl-12 col-sm-6">
            {% include "@components/post/post.twig" %}
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

{% include "@components/pubs/pubs-bottom.twig" %} {% endblock %}
