<section class="c-topstory-section">
  <div class="topstory">
    <div id="topstory_image_1" class="topstory__image on">
      <img
        src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div id="topstory_image_2" class="topstory__image">
      <img
        src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667400951&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/mladez_TOP.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div id="topstory_image_3" class="topstory__image">
      <img
        src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667340450&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/17_kladno_jergl.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div id="topstory_image_4" class="topstory__image">
      <img
        src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667332014&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/17_kladno.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div id="topstory_image_5" class="topstory__image">
      <img
        src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
        loading="lazy"
        alt=""
      />
    </div>
    <div class="topstory__bcg"></div>
    <div class="topstory__content" data-topstory_current="1">
      <div class="h-100 container container--no-padding">
        <div class="row h-100">
          <div class="col-12 col-lg-7 col-xl-8">
            <div class="h-100 row align-items-end">
              <div class="col-12">
                <div id="topstory_content_1" class="topstory_content on">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a
                      href="clanek.asp?id=Znovu-za-CHL-Balicky-na-letecky-trip-do-Karlstadu-jsou-v-prodeji-11514"
                      >Generálka před extraligou! Na Hanou zavítá Hradec
                      Králové</a
                    >
                  </h1>
                </div>
                <div id="topstory_content_2" class="topstory_content">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a
                      href="clanek.asp?id=Juniori-vyzvou-lonske-medailisty-devitku-ceka-narocny-vikend-11528"
                      >Junioři vyzvou loňské medailisty, devítku čeká náročný
                      víkend</a
                    >
                  </h1>
                </div>
                <div id="topstory_content_3" class="topstory_content">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a
                      href="clanek.asp?id=Ulet-s-Rytiri-Hrozna-houpacka-vi-Ales-Jergl-V-obrat-veril-11527"
                      >Úlet s Rytíři? Hrozná houpačka, ví Aleš Jergl. V obrat
                      věřil</a
                    >
                  </h1>
                </div>
                <div id="topstory_content_4" class="topstory_content">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a
                      href="zapas.asp?id=Neskutecna-divocina-a-velky-obrat-Hradce-Kladno-porazil-8-7-8299"
                      >Neskutečná divočina a velký obrat Hradce! Kladno porazil
                      8:7</a
                    >
                  </h1>
                </div>
                <div id="topstory_content_5" class="topstory_content">
                  <ul class="topstory_content-tags">
                    <li>
                      <div class="tag">2. 9. 2021</div>
                    </li>
                    <li>
                      <div class="tag tag--primary">
                        Olomouc vs. Hradec Králové
                      </div>
                    </li>
                  </ul>
                  <h1>
                    <a
                      href="clanek.asp?id=Vsechno-je-to-o-golech-a-zakonceni-je-si-vedom-Jakub-Lev-11521"
                      >Všechno je to o gólech a zakončení, je si vědom Jakub
                      Lev</a
                    >
                  </h1>
                </div>
              </div>
            </div>
          </div>

          <div class="d-none d-lg-block col-lg-5 col-xl-4">
            <div class="h-100 topstory__article-box">
              <div class="topstory__article on" data-topstory="1">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a
                      title=""
                      href="clanek.asp?id=Znovu-za-CHL-Balicky-na-letecky-trip-do-Karlstadu-jsou-v-prodeji-11514"
                      >Generálka před extraligou! Na Hanou zavítá Hradec
                      Králové</a
                    >
                  </h2>
                </div>
              </div>
              <div class="topstory__article" data-topstory="2">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a
                      title=""
                      href="clanek.asp?id=Juniori-vyzvou-lonske-medailisty-devitku-ceka-narocny-vikend-11528"
                      >Program mládeže pro nadcházející dny</a
                    >
                  </h2>
                </div>
              </div>
              <div class="topstory__article" data-topstory="3">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a
                      title=""
                      href="clanek.asp?id=Ulet-s-Rytiri-Hrozna-houpacka-vi-Ales-Jergl-V-obrat-veril-11527"
                      >VIDEO: Aleš Jergl o velkolepém obratu</a
                    >
                  </h2>
                </div>
              </div>
              <div class="topstory__article" data-topstory="4">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a
                      title=""
                      href="zapas.asp?id=Neskutecna-divocina-a-velky-obrat-Hradce-Kladno-porazil-8-7-8299"
                      >Vyrovnaný zápas se rozsekl 21 sekund před koncem.
                      Vítězství braly Vítkovice</a
                    >
                  </h2>
                </div>
              </div>
              <div class="topstory__article" data-topstory="5">
                <div class="topstory__article-row">
                  <div class="topstory__article-img">
                    <img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <h2>
                    <a
                      title=""
                      href="clanek.asp?id=Vsechno-je-to-o-golech-a-zakonceni-je-si-vedom-Jakub-Lev-11521"
                      >Dvě výhry a dvě porážky. Dorostenci absolvovali prestižní
                      turnaj v Pardubicích</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="topstory__articles-mobile">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="article_list__item">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-12">
                <div class="article_list__image">
                  <a href="#" title=""
                    ><img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1667601631&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/18_budejovice_piegl.jpg"
                      alt=""
                  /></a>
                </div>
              </div>
              <div class="col-8 col-sm-8 col-md-12">
                <div class="article_list__text">
                  <h3 class="h4">
                    <a href="#" title=""
                      >René Piegl po návratu domů: Jsem strašně rád za zápas</a
                    >
                  </h3>
                  <div class="article_list__info text-primary">2. 9. 2021</div>
                </div>
              </div>
            </div>
          </div>
          <!--/.article_list__item-->
        </div>
        <div class="col-12 col-md-4">
          <div class="article_list__item">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-12">
                <div class="article_list__image">
                  <a href="#" title=""
                    ><img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1664017075&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/9trida_benatky.jpg"
                      alt=""
                  /></a>
                </div>
              </div>
              <div class="col-8 col-sm-8 col-md-12">
                <div class="article_list__text">
                  <h3 class="h4">
                    <a href="#" title=""
                      >Druhá prohra v řadě. Devítka doma nedala Liberci gól</a
                    >
                  </h3>
                  <div class="article_list__info text-primary">2. 9. 2021</div>
                </div>
              </div>
            </div>
          </div>
          <!--/.article_list__item-->
        </div>
        <div class="col-12 col-md-4">
          <div class="article_list__item">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-12">
                <div class="article_list__image">
                  <a href="#" title=""
                    ><img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1667591326&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/18_budejovice.jpg"
                      alt=""
                  /></a>
                </div>
              </div>
              <div class="col-8 col-sm-8 col-md-12">
                <div class="article_list__text">
                  <h3 class="h4">
                    <a href="#" title=""
                      >Tuhá bitva na jihu Čech, Hradec ztratil body až v
                      závěru</a
                    >
                  </h3>
                  <div class="article_list__info text-primary">2. 9. 2021</div>
                </div>
              </div>
            </div>
          </div>
          <!--/.article_list__item-->
        </div>
        <div class="col-12 col-md-4">
          <div class="article_list__item">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-12">
                <div class="article_list__image">
                  <a href="#" title=""
                    ><img
                      src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=660&amp;h=530&amp;mtime=1666007995&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/trip_letadlo_anketa.jpg"
                      alt=""
                  /></a>
                </div>
              </div>
              <div class="col-8 col-sm-8 col-md-12">
                <div class="article_list__text">
                  <h3 class="h4">
                    <a href="#" title=""
                      >Znovu za CHL! Balíčky na letecký trip do Karlstadu jsou v
                      prodeji</a
                    >
                  </h3>
                  <div class="article_list__info text-primary">2. 9. 2021</div>
                </div>
              </div>
            </div>
          </div>
          <!--/.article_list__item-->
        </div>
      </div>
      <a class="btn ml-auto btn--100 d-block d-md-none mb-4" href="archiv.asp"
        >Další články</a
      >
    </div>
  </div>
</section>
