<section class="c-forum-section pt-lg-10 pt-4 mb-10">
  <div class="container">
    <div class="row g-8">
      <div class="col-xl-9">
        <div class="main-col">
          <div class="header-section">
            <h1 class="h1 text-uppercase text-primary mb-4">Registrace</h1>
          </div>
          <div class="o-content mb-10">
            <p>
              Registrace budou platné pro všechna diskusní fóra s registrací na
              webech eSports.cz. Pokud již máte registraci z jiného webu
              eSports.cz, tak platí i zde.
            </p>
            <p>
              <strong>Základní registrace</strong> uživatelského jména je
              zdarma, stačí jen jedno potvrzení odkazu ve zprávě, která vám po
              registraci přijde na vaši emailovou adresu. Pokud se chcete stát
              <strong>"profi" uživatelem</strong> a využívat tak některé výhody
              a rozšířené funkce diskusního fóra, pak se po úspěšné registraci
              přihlásíte do editace uživatele (odkaz v dolní části diskusního
              fóra) a zašlete jedinou SMS zprávu podle pokynů.
            </p>
            <p>
              Zadané údaje slouží pouze pro potřeby registrace a nebudou nikde
              zveřejňovány.
            </p>
            <p>
              Registrace, která bude více než <strong>2 roky neaktivní</strong>,
              bude <strong>smazána</strong>
            </p>
            <h4>Při registraci si prosím dejte pozor ná následující:</h4>
            <ul>
              <li>
                <strong>uživatelské jméno</strong> nesmí obsahovat mezeru (místo
                ní zkuste podtržítko), zavináč a křížek #
              </li>
              <li>
                jedna emailová adresa může být použita
                <strong>pouze pro jedno uživatelské jméno</strong>
              </li>
              <li>
                pozor na mezery, diakritiku, čárky a jiné překlepy v
                <strong>emailové adrese!</strong>
              </li>
              <li>
                pozor, aby email s potvrzovacím odkazem neskončil ve vaší
                schránce v koši se <strong>spamem</strong>, v případě nastavení
                přísných pravidel vaší email. schránky
              </li>
            </ul>
            <p class="text-center mt-8 d-block">
              Pokud po registraci neobdržíte potvrzující email, nebo se
              rozhodnete registraci změnit, použijte prosím
              <a class="text-primary fw-bold d-block" href="#"
                >EDITACI REGISTROVANÝCH UŽIVATELŮ
              </a>
            </p>
          </div>
          <form
            action="/inc/ajax-forum-signin.php"
            method="post"
            class="c-forum__box"
          >
            <div class="row">
              <div class="col-lg-6">
                <label for="username">
                  Uživatelské jméno*
                  <input type="text" name="username" id="username" required />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="password">
                  Heslo*
                  <input
                    type="password"
                    name="password"
                    id="password"
                    required
                  />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="password_verify">
                  Potvrdit heslo*
                  <input
                    type="password"
                    name="password_verify"
                    id="password_verify"
                    required
                  />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="email">
                  Email*
                  <input type="email" name="email" id="email" required />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="phone">
                  Mobil
                  <input type="text" name="phone" id="phone" />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="name">
                  Jméno
                  <input type="text" name="name" id="name" />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="surname">
                  Přijmení
                  <input type="text" name="surname" id="surname" />
                </label>
              </div>
              <div class="col-lg-6">
                <label for="city">
                  Město
                  <input type="text" name="city" id="city" />
                </label>
              </div>
            </div>
            <div class="c-forum__agreement">
              <input
                id="agreement"
                type="checkbox"
                class="souhlas"
                name="souhlas"
                value="1"
              />
              <label for="agreement">
                <strong>Souhlasím s</strong>
                <a href="#" class="text-primary"> podmínkami</a>
              </label>
            </div>
            <button type="submit" class="tag tag--primary">
              <strong>Odeslat</strong>
            </button>
          </form>

          <hr />

          <ul class="c-forum__links">
            <li><a class="text-primary" href="/forum">Zpět na fórum</a></li>
          </ul>
        </div>
      </div>
      <aside class="aside col-xl-3 pt-8">
        <div class="row">
          <div class="mb-4 col-xl-12 col-sm-6">
            {% include "@components/post/post.twig" %}
          </div>
          <div class="mb-4 col-xl-12 col-sm-6">
            {% include "@components/post/post.twig" %}
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

 