.c-forum-section__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
  button {
    text-decoration: underline;
    background-color: transparent;
    color: var(--color-primary);
    text-decoration-color: inherit;
    cursor: pointer;
    border: none;
  }
}

.c-forum__row {
  display: flex;
  padding: 2rem;
  background-color: var(--color-light2);
}

.c-forum__row-left__col {
  padding-right: 1rem;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.c-forum__row-right__col {
  padding-left: 1rem;
}

.c-forum__row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  position: relative;
}

// form
#smiles {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
}
input.tag {
  font-weight: 700;
  cursor: pointer;
}

.modal-content {
  textarea {
    display: block;
    width: 100%;
    resize: vertical;
    max-height: 11rem;
    border: 0.0625rem solid var(--color-dark);
    margin-bottom: 16px;
    padding: 12px 16px;
  }
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: block;
  }
}
.c-forum__reaction {
  margin-bottom: 8px;
}

.c-forum__box {
  label {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 16px;
    display: block;
  }
  input {
    display: block;
    width: 100%;
    margin-top: 2px;
    font-weight: 400;
  }
}
.tag--def {
  border: 1px solid var(--color-dark);
}
